<% provide(:title, 'Sign up') %>

<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title)%>| Ruby on Rails Tutorial Sample App</title>
	</head>
	<body>
		<div class="center jumbotron">
			<h3>Sign Up</h3>
			<br>
			<div class="col-sm-4"></div>
			<div class="form-group text-center col-sm-4">
				<input type="text" name="fname" id="fname" tabindex="1" class="form-control" placeholder="First Name" value="">
			</div>
			<br><br><br>
			<div class="col-sm-4"></div>
			<div class="form-group text-center col-sm-4">
				<input type="text" name="lname" id="lname" tabindex="1" class="form-control" placeholder="Last Name" value="">
			</div>
			<br><br><br>
			<div class="col-sm-4"></div>
			<div class="form-group text-center col-sm-4">
				<input type="text" name="uname" id="uname" tabindex="1" class="form-control" placeholder="Username" value="">
			</div>
			<br><br><br>
			<div class="col-sm-4"></div>
			<div class="form-group text-center col-sm-4">
				<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
			</div>
			<br><br><br>
			<div class="form-group">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<input type="submit" name="signup-submit" id="signup-submit" tabindex="4" class="form-control btn btn-primary" value="Sign Up">
				</div>
			</div>
			<br><br>
		</div>
	</body>
</html>